@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie rating engine</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>


<button onclick="window.location = '/BroadcastCategory/ShowBroadcastCategory'">CLICK HERE TO BEGIN YOUR ADVENTURE</button>