USE [master]
GO
/****** Object:  Database [IMDB]    Script Date: 1. 10. 2021. 00:46:17 ******/
CREATE DATABASE [IMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMDB]
GO
/****** Object:  Table [dbo].[BroadcastCategories]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BroadcastCategories](
	[BroadcastCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[BroadcastCategoryTypeID] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[AvgScore] [float] NOT NULL,
	[CoverImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_BroadcastCategories] PRIMARY KEY CLUSTERED 
(
	[BroadcastCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BroadcastCategoryCasts]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BroadcastCategoryCasts](
	[CastID] [int] NOT NULL,
	[BroadcastCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_BroadcastCategoryCasts] PRIMARY KEY CLUSTERED 
(
	[BroadcastCategoryID] ASC,
	[CastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BroadcastCategoryTypes]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BroadcastCategoryTypes](
	[BroadcastCategoryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BroadcastCategoryTypeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_BroadcastCategoryTypes] PRIMARY KEY CLUSTERED 
(
	[BroadcastCategoryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casts]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casts](
	[CastID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Age] [nvarchar](max) NULL,
 CONSTRAINT [PK_Casts] PRIMARY KEY CLUSTERED 
(
	[CastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[BroadcastCategoryID] [int] NOT NULL,
	[Review] [int] NOT NULL,
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1. 10. 2021. 00:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BroadcastCategories] ON 

INSERT [dbo].[BroadcastCategories] ([BroadcastCategoryID], [BroadcastCategoryTypeID], [Title], [Description], [ReleaseDate], [AvgScore], [CoverImagePath]) VALUES (15, 1, N'Taken', N'Movie1', CAST(N'2020-09-29T00:00:00.0000000' AS DateTime2), 0, N'taken.jpg')
INSERT [dbo].[BroadcastCategories] ([BroadcastCategoryID], [BroadcastCategoryTypeID], [Title], [Description], [ReleaseDate], [AvgScore], [CoverImagePath]) VALUES (16, 1, N'Argo', N'Movie2', CAST(N'2020-05-04T00:00:00.0000000' AS DateTime2), 0, N'argo.jpg')
INSERT [dbo].[BroadcastCategories] ([BroadcastCategoryID], [BroadcastCategoryTypeID], [Title], [Description], [ReleaseDate], [AvgScore], [CoverImagePath]) VALUES (17, 1, N'Honey', N'Movie3', CAST(N'2000-03-30T00:00:00.0000000' AS DateTime2), 0, N'honey.jpg')
SET IDENTITY_INSERT [dbo].[BroadcastCategories] OFF
GO
INSERT [dbo].[BroadcastCategoryCasts] ([CastID], [BroadcastCategoryID]) VALUES (1, 17)
INSERT [dbo].[BroadcastCategoryCasts] ([CastID], [BroadcastCategoryID]) VALUES (2, 16)
INSERT [dbo].[BroadcastCategoryCasts] ([CastID], [BroadcastCategoryID]) VALUES (3, 15)
GO
SET IDENTITY_INSERT [dbo].[BroadcastCategoryTypes] ON 

INSERT [dbo].[BroadcastCategoryTypes] ([BroadcastCategoryTypeID], [BroadcastCategoryTypeName]) VALUES (1, N'Movie')
INSERT [dbo].[BroadcastCategoryTypes] ([BroadcastCategoryTypeID], [BroadcastCategoryTypeName]) VALUES (2, N'TVShow')
SET IDENTITY_INSERT [dbo].[BroadcastCategoryTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Casts] ON 

INSERT [dbo].[Casts] ([CastID], [FirstName], [LastName], [Age]) VALUES (1, N'Jessica', N'Alba', N'28')
INSERT [dbo].[Casts] ([CastID], [FirstName], [LastName], [Age]) VALUES (2, N'Ben ', N'Affleck', N'49')
INSERT [dbo].[Casts] ([CastID], [FirstName], [LastName], [Age]) VALUES (3, N'Liam', N'Neeson', N'69')
SET IDENTITY_INSERT [dbo].[Casts] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([BroadcastCategoryID], [Review], [RatingID]) VALUES (36, 5, 83)
INSERT [dbo].[Ratings] ([BroadcastCategoryID], [Review], [RatingID]) VALUES (37, 5, 84)
INSERT [dbo].[Ratings] ([BroadcastCategoryID], [Review], [RatingID]) VALUES (37, 3, 85)
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (1, N'Sam', N'Smith', N'sam.smith@gmail.com', NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (2, N'Alison ', N'Grey', N'alison.grey@hotmail.com', NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (3, N'Austin ', N'Geller', N'austin.geller@hotmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210929125735_DBConstructionn', N'3.1.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210929132909_BrCatName', N'3.1.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210929133416_TypeRemove', N'3.1.19')
GO
/****** Object:  Index [IX_BroadcastCategories_BroadcastCategoryTypeID]    Script Date: 1. 10. 2021. 00:46:18 ******/
CREATE NONCLUSTERED INDEX [IX_BroadcastCategories_BroadcastCategoryTypeID] ON [dbo].[BroadcastCategories]
(
	[BroadcastCategoryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BroadcastCategoryCasts_CastID]    Script Date: 1. 10. 2021. 00:46:18 ******/
CREATE NONCLUSTERED INDEX [IX_BroadcastCategoryCasts_CastID] ON [dbo].[BroadcastCategoryCasts]
(
	[CastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratings_BroadcastCategoryID]    Script Date: 1. 10. 2021. 00:46:18 ******/
CREATE NONCLUSTERED INDEX [IX_Ratings_BroadcastCategoryID] ON [dbo].[Ratings]
(
	[BroadcastCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ratings] ADD  DEFAULT ((0)) FOR [Review]
GO
ALTER TABLE [dbo].[BroadcastCategories]  WITH CHECK ADD  CONSTRAINT [FK_BroadcastCategories_BroadcastCategoryTypes_BroadcastCategoryTypeID] FOREIGN KEY([BroadcastCategoryTypeID])
REFERENCES [dbo].[BroadcastCategoryTypes] ([BroadcastCategoryTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BroadcastCategories] CHECK CONSTRAINT [FK_BroadcastCategories_BroadcastCategoryTypes_BroadcastCategoryTypeID]
GO
ALTER TABLE [dbo].[BroadcastCategoryCasts]  WITH CHECK ADD  CONSTRAINT [FK_BroadcastCategoryCasts_BroadcastCategories_BroadcastCategoryID] FOREIGN KEY([BroadcastCategoryID])
REFERENCES [dbo].[BroadcastCategories] ([BroadcastCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BroadcastCategoryCasts] CHECK CONSTRAINT [FK_BroadcastCategoryCasts_BroadcastCategories_BroadcastCategoryID]
GO
ALTER TABLE [dbo].[BroadcastCategoryCasts]  WITH CHECK ADD  CONSTRAINT [FK_BroadcastCategoryCasts_Casts_CastID] FOREIGN KEY([CastID])
REFERENCES [dbo].[Casts] ([CastID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BroadcastCategoryCasts] CHECK CONSTRAINT [FK_BroadcastCategoryCasts_Casts_CastID]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_BroadcastCategories_BroadcastCategoryID] FOREIGN KEY([BroadcastCategoryID])
REFERENCES [dbo].[BroadcastCategories] ([BroadcastCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_BroadcastCategories_BroadcastCategoryID]
GO
USE [master]
GO
